.git
.github
.vscode
build
vcpkg
node_modules
*.md
LICENSE
.editorconfig
.gitignore
.dockerignore
error_log.txt
stdout.txt
stderr.txt
TestData
CAM
Services
Models
Views
Controls
Dialogs
Resources
*.csproj
*.sln
*.cs
*.xaml
